<div class="container">
    <div class="row mb-3">
        <div class="col-md-8 ">
            <div *ngFor="let results of result" class="col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                  <h5 class="card-title">{{ results.project_name }}</h5>
                    <img src="{{ results.project_img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{ results.description }}...</p>
                      <a href="{{ results.project_url }}" class="btn btn-outline-primary ">View Project</a>
                                    
                    </div>
                    
                  </div>
                  <!-- <div *ngFor="let datas of data" class="mb-3 ">

                    <ul>
                        <span>{{}}</span>
                        <li>{{}}</li>
                        <li>{{}}</li>
                        <li>{{}}</li>
                        <li>{{}}</li>
                    </ul>   
                  </div> -->
            </div>
        </div>
        <div class="col-md-4">
            <form action="">
                <div class="mb-3">
                    <label for="project_name" class="form-label">Project Name</label>
                    <input type="text"  name="projectName" class="form-control" id="projectName">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Project Description</label>
                    <input type="text"  name="description" class="form-control" id="description">
                </div>
                
                <div class="mb-3">
                    <label for="project_url" class="form-label">Project Url Link</label>
                    <input type="url"  name="project_url" class="form-control" id="project_url">
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
</div>