<div class="container">
    <div class="row mb-3">
        <div class="col-md-8 ">
            <div *ngFor="let results of result" class="mt-3">
                <div class="card" style="width: 18rem;">
                  <h5 class="card-title">{{ results.project_name }}</h5>
                    <img src="{{ results.project_img }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{ results.description }}...</p>
                      <a href="{{ results.project_url }}" class="btn btn-outline-primary ">View Project</a>
                                    
                    </div>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-4">
            <form enctype="multipart/form-data" action="">
                <div class="mb-3">
                    <label for="project_name" class="form-label">Project Name</label>
                    <input type="text" [(ngModel)]="project_name"   name="project_name" class="form-control" id="projectName">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Project Description</label>
                    <textarea name="description" [(ngModel)]="description" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="mb-3">
                    <label for="project_img" class="form-label">Project Image</label>
                    <input type="file" (change)="onImageChange($event)" name="project_img" accept="image/png, image/jpeg">
                    
                </div>
                <div class="mb-3">
                    <label for="project_url" class="form-label">Project Url Link</label>
                    <input type="url" [(ngModel)]="project_url"  name="project_url" class="form-control" id="project_url">
                </div>
                <button (click)="postProject()" type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
</div>