<div class="banner image-fluid">
  <div class="landing" style="color: white ;">

  </div>
  <h2 class="text-center"  >
    Welcome to Awards!
  </h2>
  <h5>
    Where Every Progress matters however small!
  </h5>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-md-4">
          <h5 class="text-center">
              Lets try out something!
          </h5> 
         <div class="col-md-6">
             Projects Awards 2021
         </div>
        </div>
    </div>
    <!-- <div *ngFor="let datas of data" class="card">
        <button (click)='callTheApi()' class="btn btn-outline-primary">Click Me</button>
          <ul *ngFor='let results of result'>
             <span>{{results.Project.roject_name}}</span>
             <img src="{{results.Project.Project_img}}" alt="">
            <span>{{results.Projet.description}}</span>
            <a href="{{ results.Project.project_url}}"></a>
          </ul>
      </div> 
    </div> --> 
    <div class="row">
        <div *ngFor="let results of result" class="col-md-4">
            <div class="card" style="width: 18rem;">
              <h5 class="card-title">{{ results.project_name }}</h5>
                <img src="{{ results.project_img }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{ results.description }}</p>
                  <a href="{{ results.project_url }}}" class="btn btn-outline-primary">View Project</a>
                  <!-- <div>
                    <span>{{ results.proj_perfomance }}</span>
                  </div> -->
                  
                </div>
              </div>
        </div>
    </div>


</div>
<router-outlet></router-outlet>
