<div class="banner image-fluid">
  <div class="landing" style="color: white ;">
    <div class="bg-text">
      <h2 class="text-center"  >
        Welcome to Awards!
      </h2>
      <h5 class="text-center">
        Where Every Progress matters however small it may seem ~ <em>Esquire</em>
      </h5>
    </div>
   
  </div>
  
</div>
<div class="container"> 
    <div class="row">
      <h5 class="text-center">
        Lets try something out!
    </h5> 
        <div class="col-md-4">
          <h3>
            Best Projects reviews
          </h3>
         <div class="col-md-6">
             Projects Awards 2021
         </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div *ngFor="let results of result" class="col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
              <h5 class="card-title">{{ results.project_name }}</h5>
                <img src="{{ results.project_img }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{ results.description }}...</p>
                  <a href="{{ results.project_url }}" class="btn btn-outline-primary ">View Project</a>
                                
                </div>
                <div class="mb-3 ">
                  <a class="btn btn-outline-secondary mb-3 ms-3" routerLink="/projects" routerLinkActive="active">View the project</a>    
                </div>
              </div>
        </div>
    </div>


</div>
<router-outlet></router-outlet>
