<div class="container">
    <h2>Welcome to Awards!</h2>
    <div class="row">
        <div class="col-md-4">
          <h5 class="text-center">
              Lets try out something!
          </h5> 
         <div class="col-md-6">
             Projects Awards 2021
         </div>
        </div>
    </div>
    <!-- <div *ngFor="let datas of data" class="card">
        <button (click)='callTheApi()' class="btn btn-outline-primary">Click Me</button>
          <ul *ngFor='let results of result'>
             <span>{{results.Project.roject_name}}</span>
             <img src="{{results.Project.Project_img}}" alt="">
            <span>{{results.Projet.description}}</span>
            <a href="{{ results.Project.project_url}}"></a>
          </ul>
      </div> 
    </div> --> 

    
</div>
